article {
    min-height: calc(94vh - var(--nextra-navbar-height)) !important;
}

.MuiBox-root {
    width: 100%;
    max-width: 100% !important;
}

.Mui-disabled {
    color: rgba(255, 255, 255, 0.25) !important;
}

.MuiStepConnector-line {
    padding-left: 1em;
    font-size: 0.45em;
}

.MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.MuiInput-root {
    &::after {
        // border-radius: var(--borderRadius) !important;
        border-bottom: 1px solid var(--gameBlueSoft) !important;
    }
    &:hover {
        &:not(.Mui-disabled, .Mui-error) {
            &::before {
                // border-radius: var(--borderRadius) !important;
                border-bottom: 1px solid white !important;
            }
        }
    }
}

::selection {
    background: var(--gameBlueSoft);
}

// .customConnector {
//     border-left: none;
// }

.MuiStepLabel-label {
    color: white !important;
    font-size: 0.65em !important;
    font-family: 'Montserrat' !important;
}

.MuiStepLabel-root {
    flex-direction: row;
    span {
        width: max-content;
    }
}

.MuiPaper-root {
    background: transparent !important;
}

.MuiTypography-root {
    color: white;
    margin-bottom: 10px;
    font-family: 'Montserrat' !important;
}

.MuiButton-containedPrimary {
    color: white !important;
    background: var(--gameBlueSoft) !important;
}

.MuiStepper-root {
    .Mui-completed, .Mui-active {
        :not(.MuiStepLabel-label):not(.MuiStepConnector-line) {
            color: var(--gameBlueSoft) !important;
        }
        svg {
            border-radius: 100% !important;
            background: radial-gradient(white 0%, transparent 100%) !important;
        }
    }
    .MuiButton-textPrimary {
        font-weight: 600;
        color: var(--gameBlueSoft) !important;
    }
    .MuiTextField-root {
        label {
            display: flex;
            flex-direction: row;
            color: white !important;
            padding-left: 1em !important;
            &:not(.Mui-focused) {
                color: rgba(255,255,255,0.65) !important;
            }
            span {
                width: max-content;
            }
        }
    }
}

form {
    &.ConcentrationGameForm {
        display: flex;
        grid-gap: 1em;
        font-size: 2em;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: 'Montserrat';
        label {
            opacity: 1;
            font-weight: 500;
            font-size: 0.45em;
            text-align: center;
            font-family: 'Montserrat' !important;
        }
        input {
            width: 100%;
            font-size: 0.85em;
            text-align: center;
            font-family: 'Montserrat';
            margin: 5px 0 0 0 !important;
            background: transparent !important;
            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
            &::placeholder {
                opacity: 0.7 !important;
                font-family: 'Montserrat';
                font-size: 0.85em !important;
            }
        }
        button {
            min-height: 35px;
            border-radius: var(--borderRadius);
            font-family: 'Montserrat' !important;
            background: var(--blackGlass) !important;
        }
    }
}

.MuiFormLabel-asterisk {
    color: var(--gameBlueSoft);
}

.dark {
    .MuiStepConnector-line {
        color: #cfcfcf !important;
    }
    form {
        &.ConcentrationGameForm {
            input {
                border-bottom: 1px solid white !important;
            }
        }
    }
}

.light {
    .MuiStepConnector-line {
        color: #8d8d8d !important;
    }
    .MuiTypography-root {
        color: rgba(17, 24, 39, 1);
    }
    .MuiStepLabel-label, .MuiStepper-root .MuiTextField-root label, .MuiStepper-root .MuiTextField-root label:not(.Mui-focused) {
        color: rgba(17, 24, 39, 1) !important;
    }
    form {
        &.ConcentrationGameForm {
            input {
                color: rgba(17, 24, 39, 1) !important;
                border-bottom: 1px solid rgba(17, 24, 39, 1) !important;
                &::placeholder {
                    color: rgba(17, 24, 39, 1);
                }
            }
        }
    }
}

.nextra-sidebar-container {
    font-weight: 500;
   li {
    &:not(.active) {
        a, button {
            display: flex;
            grid-gap: 0.3em;
            position: relative;
            align-items: center;
            transition: var(--transition);
            color: rgba(255, 255, 255, 1) !important;

            &::before {
                right: 0;
                z-index: 0;
                width: 100%;
                bottom: 1px;
                height: 1px;
                display: block;
                position: absolute;
                transform: scale(0, 1);
                content: "" !important;
                transform-origin: 0% 100%;
                transition: var(--transition);
                background: linear-gradient(90deg, var(--smasherscapeGreen), var(--smasherscapeBlue));
            }

            &:hover {
                transition: var(--transition);
                color: rgba(255,255,255,1) !important;

                &::before {
                    transform: scale(1, 1);
                    transition: 500ms ease-in-out;
                }
            }
        }
    }
   }
}

@keyframes slideUp {
    0% {
        height: 0px;
        transform-origin: bottom;
    }
    100% {
        height: 100%;
    }
}

