:root {
    --smasherscapeYellow: #fcfc05;
    --smasherscapeGreen: #6ced52;
    --smasherscapeBrown: #473d32;
    --smasherscapeBlue: #45bde9;
    --smasherscapeBronze: #f6cc00;
}

@font-face {
    font-family: 'RuneScape Large';
    src: url('./assets/smasherscape/fonts/RuneScapeFonts/RuneScape-Large.woff2') format('woff2'),
         url('./assets/smasherscape/fonts/RuneScapeFonts/RuneScape-Large.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'RuneScape Chat';
    src: url('./assets/smasherscape/fonts/RuneScapeFonts/runescape-chat-07-webfont.woff2') format('woff2'),
         url('./assets/smasherscape/fonts/RuneScapeFonts/runescape-chat-07-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'RuneScape Chat Bold';
    src: url('./assets/smasherscape/fonts/RuneScapeFonts/runescape-chat-bold-07-webfont.woff2') format('woff2'),
         url('./assets/smasherscape/fonts/RuneScapeFonts/runescape-chat-bold-07-webfont.woff') format('woff');
    font-style: normal;
}

li {
    a {
        font-size: 18px !important;
    }
    &.active {
        a {
            font-size: 22px;
            border-radius: 0;
            position: relative;
            font-weight: bolder;
            background: transparent !important;
            color: rgba(255, 255, 255, 0.81) !important;
            &::after {
                left: 0;
                content: "";
                bottom: 0px;
                width: 100%;
                height: 1px;
                position: absolute;
                background: linear-gradient(90deg, var(--smasherscapeGreen), var(--smasherscapeBlue));
            }
        }
    }
} 

.runescape_chat {
    font-size: 2em;
    font-family: "RuneScape Chat" !important;
}

.runescape_chat_bold {
    font-size: 2em;
    font-family: "RuneScape Chat Bold" !important;
}

.playerGrid {
    gap: 40px;
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    justify-content: space-between;
    @media (min-width: 1675px) {
        grid-template-columns: 1fr 1fr;
    }
    .gridImage {
        width: 100%;
    }
    .gridCard {
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 500px;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .cardBG {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            &.border {
                z-index: 2;
                pointer-events: none;
            }
        }
        // background-size: contain !important;
        // background-repeat: no-repeat !important;
        // background-position: 50% 50% !important;
        // background: url(https://github.com/strawhat19/Smasherscape/blob/main/assets/smasherscape/OSRS_Card_Empty.png?raw=true);
        .playerCardContent {
            z-index: 1;
            width: 87%;
            display: flex;
            margin: 0 auto;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            .cardTopRow {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 35px auto -10px;
                justify-content: space-between;
                .logoWithWords {
                    width: 230px;
                    display: flex;
                    font-size: 35px;
                    line-height: 0.8;
                    align-items: center;
                    letter-spacing: 1.1px;
                    font-family: "RuneScape Large";
                    color: var(--smasherscapeBlue);
                    justify-content: space-between;
                }
            }
            .cardMiddleRow {
                width: 95%;
                display: flex;
                margin: 0 auto;
                align-items: center;
                justify-content: space-between;
                .imgLeftCol {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    .levelName {
                        font-size: 2.5em;
                        text-shadow: none;
                        letter-spacing: 3px;
                        font-family: "RuneScape Large";
                        color: var(--smasherscapeBronze);
                        @media (max-width: 1800px) {
                            font-size: 2.3em;
                        }
                        @media (max-width: 768px) {
                            font-size: 1.8em;
                        }
                    }
                }
                .recordPlays {
                    top: -15px;
                    width: 100%;
                    display: flex;
                    grid-gap: 20px;
                    position: relative;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    h3 {
                        font-size: 2.4em;
                        line-height: 0.75;
                        letter-spacing: -1.8px;
                        font-family: "RuneScape Chat";
                        color: var(--smasherscapeGreen);
                        text-shadow: 2px 2px 0px black;
                        @media (max-width: 768px) {
                            font-size: 2em;
                        }
                    }
                }
                .rightCol {
                    width: 100%;
                    .level {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: space-between;
                        .levelTop {
                            position: relative;
                            top: -50px;
                            left: 0;
                        }
                        .levelBot {
                            position: relative;
                            bottom: -15px;
                            right: 65px;
                            @media (max-width: 768px) {
                                right: 25px;
                            }
                        }
                        .borderSep {
                            top: 35px;
                            left: 10%;
                            height: 6px;
                            width: 135px;
                            position: absolute;
                            background: black;
                            transform: rotate(-45deg);
                        }
                    }
                    .xpDetail {
                        top: 15px;
                        width: 90%;
                        display: flex;
                        line-height: 1;
                        font-size: 18px;
                        position: relative;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--smasherscapeYellow);
                        text-shadow: 1px 1px 0px black;
                        @media (max-width: 1800px) {
                            font-size: 17px;
                        }
                        @media (max-width: 768px) {
                            top: 22px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .cardBottomRow {
                height: 95px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .gradient {
                    width: 97%;
                    height: 50px;
                    bottom: 45px;
                    display: flex;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(90deg, red, yellow, lime);
                }
            }
        }
        h2 {
            width: 40%;
            display: flex;
            font-size: 6em;
            font-family: 'RuneScape Large';
            color: var(--smasherscapeBlue);
            text-shadow: 1px 1px 0px black;
        }
        h4 {
            font-size: 2.1em;
            font-family: 'RuneScape Chat';
            color: var(--smasherscapeYellow);
            text-shadow: 2px 2px 0px black;
            &.levelNum {
                font-size: 5em;
                text-shadow: 5px 5px 0px black;
            }
            @media (max-width: 768px) {
                font-size: 1.7em;
            }
        }
    }
}

nav {
    a.nx-text-sm {
        position: relative;
        &::after {
            left: 50%;
            content: "";
            width: 90%;
            bottom: 1px;
            height: 1.1px;
            margin: 0 auto;
            position: absolute;
            transform: translateX(-50%);
            background: linear-gradient(90deg, var(--smasherscapeGreen), var(--smasherscapeBlue));
        }
    }
    h1 {
        font-size: 25px !important;
    }
    a, button {
        font-size: 18px !important;
    }
}

button[title="Change theme"] {
    font-size: 16px !important;
}

@media (max-width: 768px) {
    .dark {
        aside {
            backdrop-filter: blur(5px);
            background: rgba(0, 0, 0, 0.6) !important;
            div {
                &:first-child {
                    &:not(.nx-transition-opacity) {
                        display: none;
                    }
                }
            }
            ul {
                li {
                    button {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
    .dark .nx-sticky:not(.nx-top-0) {
        background: var(--menuBackground) !important;
        display: none;
    }
}

.nx-absolute[role="menu"] {
    background: black !important;
}

input[type="search"] {
    background: var(--smasherscapeBrown) !important;
}

.fa-twitch {
    top: 4px;
    font-size: 24px;
    color: #9146FF;
    position: relative;
}