.badgeBG {
    z-index: 0;
    width: 85%;
    height: 85%;
    position: absolute;
    border-radius: 100%;
    background: var(--smasherscapePurple);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

li[aria-selected='true'] {
    &:hover {
        .playerBadgesContainer {
            &.inOption {
                top: -30px;
                left: 265px;
                grid-gap: 5px;
                margin-right: -20px;
                flex-direction: row;
                transform: scale(0.4);
                max-width: fit-content;
            }
        }
    }
}

.playerBadgesContainer {
    top: -10px;
    z-index: 3;
    right: 20px;
    display: flex;
    grid-gap: 10px;
    position: absolute;
    &.inOption {
        top: -15px;
        left: 268px;
        grid-gap: 5px;
        flex-direction: row;
        transform: scale(0.4);
        max-width: fit-content;
        .badgeElement {
            max-width: fit-content;
        }
        .badgeContent {
            text-align: center;
            justify-content: center;
        }
    }
    .badgeElement {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &.strkBadge {
            .badgeIcon {
                top: 8px;
                opacity: 0.4;
                position: absolute;
                max-width: 50px !important;
                &.Loss {
                    filter: hue-rotate(180deg);
                }
                @media (max-width: 677px) {
                    top: 22px;
                    max-width: 95px !important;
                }
            }
            &.largeStreak {
                .badgeContent {
                    font-size: 19px;
                }
            }
            &.Loss {
                .innerBadgeContext {
                    font-size: 9px;
                }
            }
            .badgeContent {
                .innerBadgeContext {
                    font-size: 10px;
                }
                @media (max-width: 677px) {
                    font-size: 30px !important;
                    .innerBadgeContext {
                        font-size: 15px;
                    }
                }
            }
        }
        .badgeContent {
            left: -2px;
            width: 100%;
            height: 100%;
            display: flex;
            line-height: 1;
            font-size: 27px;
            font-style: italic;
            position: absolute;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: var(--smasherscapeGreen);
            text-shadow: 2px 2px 0px black;
            .innerBadgeContext {
                font-size: 16px;
            }
        }
    }
    .customImage {
        max-width: 69px;
        @media (max-width: 677px) {
            max-width: 135px;
        }
    }
}